<h1>Choose secondary tools</h1>
<form (ngSubmit)="submit()" [formGroup]="myForm">

  <mat-form-field appearance="fill">
    <mat-label>Secondary tool</mat-label>
    <mat-select formControlName="secondaryTool">
      <mat-option
      (click)="selectSecondaryTool(tool)"
      
      *ngFor="let tool of secondaryToolsOptions" [value]="tool.value">
        {{tool.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  &nbsp;

  <input formControlName="file" type="file" (change)="getFile($event)">

  <button mat-raised-button color="warn" type="submit">
    Submit
  </button>
  
</form>

<h2>Selected secondary tools</h2>


<div *ngFor="let selectedSecondaryToolItem of secondaryToolsSelectedArray">
  {{selectedSecondaryToolItem.value}}
</div>